@import "tailwindcss";

@font-face {
  font-family: fa;
  src: url("@/assets/fonts/Inter.ttc") format("treutype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html,
  body {
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
  }
}
